.components-box{
 text-align: center;
 display: flex;
 background-color: #6699FF;
 height: 6vh;
}

.tools-button{
  display: inline-block;
  padding: 10px;
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
  color: white;
}

.active {
  color: rgb(247, 189, 65);
}


body{
  margin: 0;
}
